{% include '../head.html' %}
{% include '../navbar.html' %}
{% load crispy_forms_tags %}

<div class="container-lg mt-5">
    <h2 class="text-center mb-5">Zmień hasło</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row mb-4">
                    <label for="id_username">Stare hasło</label>
                    {{form.old_password|as_crispy_field}}
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <label for="id_password">Nowe hasło</label>
                        {{form.new_password1|as_crispy_field}}
                    </div>
                    <div class="col">
                        <label for="id_password">Powtórz hasło</label>
                        {{form.new_password2|as_crispy_field}}
                    </div>
                </div>
                <div class="row mx-auto">
                    <button class="btn btn-primary btn-lg" type="submit">Zmień hasło</button>
                </div>
                
            </form>
            {% for message in messages%}
                <p class="alert alert-{{message.tags}} d-flex align-items-center mt-5 px-3" role="alert">
                    <span class="mx-auto fs-5">{{message}}</span>
                </p>
            {% endfor %}
        </div>
    </div>
</div>

{% include '../footer.html' %}