{% include '../head.html' %}
{% include '../navbar.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<div class="container-lg mt-5">
    <h2 class="text-center mb-5">Rejestracja</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row mb-3">
                    <div class="col">
                        <label for="id_first_name">Imię</label>
                        {{form.first_name|as_crispy_field}}
                    </div>
                    <div class="col">
                        <label for="id_last_name">Nazwisko</label>
                        {{form.last_name|as_crispy_field}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_username">Nazwa użytkownika*</label>
                    {{form.username|as_crispy_field}}
                </div>
                <div class="row mb-3">
                    <label for="id_email">Email*</label>
                    {{form.email|as_crispy_field}}
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="id_password1">Hasło (min. 8 znaków)*</label>
                        {{form.password1|as_crispy_field}}
                    </div>
                    <div class="col">
                        <label for="id_password2">Powtórz hasło*</label>
                        {{form.password2|as_crispy_field}}
                    </div>
                </div>
                <div class="row mx-auto">
                    <button class="btn btn-primary btn-lg" type="submit">Zarejestruj się</button>
                </div>
                <div class="row mx-auto mt-3">
                    <a class="btn btn-secondary" href="{% provider_login_url 'google' %}"><i class="bi bi-google mx-3"></i>Zarejestruj się przez konto Google</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% include '../footer.html' %}