{% include '../head.html' %}
{% include '../navbar.html' %}

<div class="container-lg mt-5">
    <h2 class="text-center mb-5">Czy na pewno chcesz usunąć news?</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-7">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row mx-auto">
                    <div class="col d-grid">
                        <button class="btn btn-danger btn-lg" type="submit">Tak</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-secondary btn-lg" href="{% url 'yourNews' %}">Nie</a>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</div>

{% include '../footer.html' %}