{% include '../head.html' %}
{% include '../navbar.html' %}

<section>
    <div class="container border rounded my-4">
        <div class="row p-3 text-start ms-5 mb-4 mt-3 w-75">
            <h2 class="my-4">{{news.title}}</h2>
            <h3 class="fs-5 mt-2">{{news.lead}}</h3>
        </div>
        <div class="row mb-4">
            {% if news.image %}
            <img src="{{ news.image.url }}" class="image-fluid" style="max-height: 400px; object-fit: cover;" alt="...">
            {% else %}
            <img src="https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png" class="image-fluid" style="max-height: 400px; object-fit: cover;" alt="...">
            {% endif %}
        </div>
        <div class="row mx-5" id="content">
            {{news.content|safe}}
            <p class="text-end text-muted my-3 fs-4">Autor: {% if news.author %}{{news.author}}{% else %}<span class="text-muted">[Konto usunięte]</span>{% endif %}</p>
        </div>
    </div>
</section>

{% include '../footer.html' %}