{% include '../head.html' %}
{% include '../navbar.html' %}

{% load filters %}
<section class="mb-3">
    <div class="container-lg">
        <h2 class="my-4">Panel redaktora</h2>
        <div class="row">
            <div class="col-lg-2 border-end">
                <h3 class="my-2 mt-3 fs-4">Akcje</h3>
                <div class="btn-group-vertical">
                    <a href="{% url 'addNews' %}" class="btn btn-primary btn-block">Dodaj news</a>
                </div>
            </div>
            <div class="col-lg">
                <h3 class="m-2 mb-4 fs-4">Twoje newsy</h3>
                {% if user_news %}
                {% for news,last in user_news %}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <h4 class="pb-3 fs-5 border-bottom">{{news.title}}</h4>
                                <div class="col-md border-end">
                                    <p>{{news.lead|slice:":128"|safe}}{% if news.lead|length > 128 %}...{% endif %}</p>
                                    <span class="text-muted">Ostatnio zmodyfikowane: {{last}}</span>
                                </div>
                                <div class="col-md text-center">
                                    <a href="{% url 'editNews' id=news.id %}" class="btn btn-secondary mx-2 mt-3">Edytuj</a>
                                    <a href="{% url 'deleteNews' id=news.id %}" class="btn btn-danger mt-3">Usuń</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="pb-3 fs-5 border-bottom">Brak newsów</h4>
                            <p class="card-text text-muted">Dodaj newsy w sekcji Akcje</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% include '../footer.html' %}