{% include '../head.html' %}
{% include '../navbar.html' %}

<section>
    <div class="container border rounded my-4">
        <div class="row p-3 text-start ms-5 mb-4 mt-3 w-75">
            <h2 class="my-4">{{review.title}}</h2>
            <div class="col">
                <h3 class="fs-5 mt-2">{{review.lead}}</h3>
            </div>
        </div>
        <div class="row mb-4">
            {% if review.image %}
            <img src="{{ review.image.url }}" class="image-fluid" style="max-height: 400px; object-fit: cover;" alt="...">
            {% else %}
            <img src="https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png" class="image-fluid" style="max-height: 400px; object-fit: cover;" alt="...">
            {% endif %}
        </div>
        <div class="row mx-5 mt-4" id="content">
            {{review.content|safe}}
            <div class="card m-3">
                <div class="card-body">
                    <h4 class="card-title">Podsumowanie</h4>
                    <div class="row m-3">
                        <div class="col-1">
                            <h5>Ocena</h5>
                            <div style="width: 50px; height: 50px;" class="fs-2 mt-3 bg-{% if review.points <= 3.3 %}danger{% elif review.points < 6.6 %}warning{% else %}success{% endif %} rounded-circle text-light d-flex justify-content-center">
                                <div class="mx-2">{{review.points}}</div>
                            </div>
                        </div>
                        <div class="col border-start border-end p-4">
                            {{review.summary}}
                        </div>
                        <div class="col-4 pb-3 mt-0 ms-3 text-center">
                            <a href="{% url 'game' id=review.game.pk %}" class="text-reset text-decoration-none">
                                <h5 class="mb-3">{{review.game.title}}</h5>
                                {% if review.game.image %}
                                <img src="{{ review.game.image.url }}" alt="Game image" class="img-fluid h-75 rounded"/>
                                {% elif review.game.image_link %}
                                <img src="{{ review.game.image_link }}" alt="Game image" class="img-fluid rounded"/>
                                {% else %}
                                ----
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-end text-muted my-3 fs-4">Autor: {% if review.author %}{{review.author}}{% else %}<span class="text-muted">[Konto usunięte]</span>{% endif %}</p>
        </div>
    </div>
</section>

{% include '../footer.html' %}