{% include '../head.html' %}
{% include '../navbar.html' %}

<section class="bg-light">
    <div class="container-lg border rounded my-3">
        <div class="row m-4 text-center">
            <h1> {{game.title}} </h1>
        </div>
        <div class="row my-3 d-flex justify-content-center">
            <div class="col-xl mx-4 game-img">
                <img src="{% if game.image %} {{ game.image.url }} {% elif game.image_link %} {{game.image_link}} {% else %} https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png {% endif %}" alt="Game image" class="img-fluid rounded">
            </div>
            <div class="col-xl my-4 my-xl-1 text-end">
                <p>
                    {{game.description}}
                </p>
                <p>
                    <b>Developer: </b> {{game.developer}}
                </p>
                <p>
                    <b>Data wydania: </b> {% if release_date %} {{release_date}} {% else %} - {% endif %}
                </p>
            </div>
            <div class="col-xl">
                <div class="card mx-2">
                    <div class="card-body">
                        <h5 class="card-title">Średnia ocen graczy</h5>
                        <a href="#ratings" class="text-reset text-decoration-none">
                        <div style="width: 60px; height: 50px;" class="col-2 fs-2 mt-3 bg-{% if avg.stars__avg <= 2.5 %}danger{% elif avg.stars__avg < 4.0 %}warning{% else %}success{% endif %} rounded text-light d-flex justify-content-center">
                            <div class="mx-2">{% if avg %}{{avg.stars__avg}}{% else %}-{% endif %}</div>
                        </div>
                        <p class="card-text m-1">{% if ratings_count %}z {{ratings_count}} opinii użytkowników{% else %}brak opinii na temat gry{% endif %}</p>
                        </a>
                        
                        <h5 class="card-title mt-4">Średnia ocen recenzentów</h5>
                        <div style="width: 60px; height: 60px;" class="fs-2 align-middle mt-3 bg-{% if reviews_avg <= 3.3 %}danger{% elif reviews_avg < 6.6 %}warning{% else %}success{% endif %} rounded-circle text-light d-flex justify-content-center">
                            <div class="mx-2">{% if reviews_avg %}{{reviews_avg}}{% else %}-{% endif %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if trailer_id %}

<div class="container-lg">
    <h2 class="my-2">Trailer</h2>
    <div class="d-flex justify-content-center border rounded p-0 my-1">
        <div class="p-5 my-3 w-50 border ratio ratio-16x9">
            <iframe
            src="https://www.youtube.com/embed/{{trailer_id}}">
            </iframe> 
        </div>
    </div>
</div>


{% endif %}

{% load crispy_forms_tags %}

<section id="ratings" class="bg-light">
    <div class="container-lg">
        <h2 class="my-2" >Oceny i opinie</h2>
        {% for message in messages %}
                <p class="alert alert-success d-flex align-items-center mt-5 px-3" role="alert">
                    <span class="mx-auto fs-5">{{message}}</span>
                </p>
        {% endfor %}
        <div class="my-3 mb-4 px-3">
            {% if request.user.is_authenticated %}
                <h3 class="fs-5">Dodaj opinię</h3>
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="row px-3">
                        <div class="col-md-10">
                            <label for="id_description">Opis</label>
                            {{form.description|as_crispy_field}}
                        </div>
                    
                        <div class="col-md-2 float-left">
                            <label for="id_stars">Ocena (0-5)</label>
                            {{form.stars|as_crispy_field}}
                            <button class="btn btn-primary my-3" type="submit">Dodaj</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary mx-3">Zaloguj się</a> aby dodawać opinie.
            {% endif %}
        </div>
        
        {% if ratings %}
            {% for rating,last in ratings %}
            <div class="card my-3">
                <div class="card-header">Autor: {% if rating.author %}{{rating.author.username}}{% else %}<span class="text-muted">[Konto usunięto]</span>{% endif %}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% if rating.description %}
                                {{rating.description}}
                            {% else %}
                                <span class="text-muted">Brak opisu</span>
                            {% endif %}
                        </div>
                        <div class="col d-flex justify-content-center border-start" style="max-height: 25px;">
                            Ocena: 
                            <div class="mx-2 bg-{% if rating.stars <= 2.5 %}danger{% elif rating.stars < 4.0 %}warning{% else %}success{% endif %} rounded text-light">
                                <div class="mx-2">{{rating.stars}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <span class="text-muted">Ostatnio zmodyfikowane: {{last}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="card my-3">
                <div class="card-body text-muted">
                    Brak opinii na temat tej gry
                </div>
            </div>
        {% endif %}
    </div>
</section>


{% include '../footer.html' %}