{% include '../head.html' %}
{% include '../navbar.html' %}

<section>
    <div class="container-lg">
        <h2 class="my-4">Wyniki wyszukiwania</h2>

        {% if searched_games %}
        {% for game in searched_games %}
        <a href="{% url 'game' id=game.pk %}" class="text-reset text-decoration-none">
        <div class="card my-3">
            <div class="row">
                <div class="col-3">
                    {% if game.image %}
                    <img src="{{ game.image.url }}" alt="Game image" class="img-fluid rounded-start"/>
                    {% elif game.image_link %}
                    <img src="{{ game.image_link }}" alt="Game image" class="img-fluid rounded-start"/>
                    {% else %}
                    ----
                    {% endif %}
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">{{game.title}}</h5>
                        <p class="card-text">{{game.description|slice:":256"}}{% if game.description|lenght > 256 %}...{% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        
        {% endfor %}
        {% else %}

        <div class="card my-3">
            <div class="card-body">
                <h3 class="fs-4">Brak wyszukiwań</h3>
                <span class="text-muted">Nie znaleziono gier na podstawie twojego wyszukiwania</span>
            </div>
        </div>
        
        {% endif %}

    </div>
</section>

{% include '../footer.html' %}