{% include 'head.html' %}
{% include 'navbar.html' %}

    <!--News slider-->
    {% if news3 %}
    <section class="bg-dark">
        <div class="container-lg p-0">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for news in news3 %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.counter == 1 %} active {% endif %}"></button>
                    {% endfor %}

                </div>
                <div class="carousel-inner">
                {% for news in news3 %}
                  <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                      <a href="{% url 'news' id=news.pk %}" class="text-reset text-decoration-none">
                        {% if news.image %}
                        <img src="{{ news.image.url }}" class="d-block w-100" alt="...">
                        {% else %}
                        <img src="https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png" class="d-block w-100" alt="...">
                        {% endif %}
                        <div class="carousel-caption p-2 rounded d-none d-md-block">
                            <h5>{{news.title}}</h5>
                            <p>{{news.lead|slice:":256"|safe}}{% if news.lead|length > 256 %}...{% endif %}</p>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    {% endif %}

    <!--Top5 section-->
    <section class="my-4" id="top5">
        <div class="container-lg">
            <h2>Top 5 gier</h2>

            <div class="row">
                {% for game in top5 %}
                    {% if game %}
                    <div class="col-lg my-2">
                        <a href="{% url 'game' id=game.id %}" class="text-reset text-decoration-none">
                            <div class="card">
                                <div class="card-image bg-dark d-flex justify-content-center rounded">
                                    <img src="{% if game.image %} {{ game.image.url }} {% elif game.image_link %} {{game.image_link}} {% else %} https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png {% endif %}" class="card-img-top img-fluid" alt="">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">#{{forloop.counter}}</h5>
                                    <div>{{game.title}}</div>
                                    <div style="width: 50px; height: 35px;" class="fs-5 mt-3 bg-{% if game.avg_rating <= 2.5 %}danger{% elif game.avg_rating < 4.0 %}warning{% else %}success{% endif %} rounded text-light d-flex justify-content-center">
                                        <div class="mx-2">{{game.avg_rating}}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% else %} 
                    <div class="col-lg my-2">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png " class="card-img-top img-fluid" alt="">
                            </div> 
                            <div class="card-body">
                                <h5 class="card-title">#{{forloop.counter}}</h5>
                                <div><span class="text-muted">Zabrakło nam gier</span></div>
                            </div>
                        </div>
                    </div>                    
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </section>

    <!--Reviews section-->
    {% if reviews3 %}
    <section>
        <div class="container-lg">
            <h2 class="mb-4">Recenzje</h2>
            {% for review in reviews3 %}
            <div class="row">
                <div class="col mb-4">
                    <a href="{% url 'review' id=review.pk %}" class="text-reset text-decoration-none">
                        <div class="card">
                            <div class="row">
                                <div class="col-4">
                                    {% if review.image %}
                                    <img src="{{ review.image.url }}" class="img-fluid rounded-start" alt="...">
                                    {% else %}
                                    <img src="https://res.cloudinary.com/dzxo9mpqc/image/upload/v1656005252/no-photo-available_gyrfyl.png" class="img-fluid rounded-start" alt="...">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">{{review.title}}</h5>
                                        <p class="card-text">{{review.lead}}</p>
                                        <p class="card-text"><small class="text-muted">Autor: {{review.author.username}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="row text-end m-4 fs-4">
                <a href="{% url 'reviewsList' %}">Więcej recenzji ></a>
            </div>
    </section>
    {% endif %}

{% include 'footer.html' %}